<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>TNDR {{#if title}}:{{title}}{{/if}}</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/js3/html5shiv.min.js"></script>
	<script type="text/javascript" src="/js3/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/style.min.css" />

	<link rel="stylesheet" href="/css3/datepicker.min.css" />
</head>
<body>
	<header>
		{{> menu }}
	</header>

	<main class="tndr">

	{{> messages }}

	{{{body}}}
	</main>

	<script type="text/javascript" src="/js3/jquery.min.js">{{!--                  --}}</script>
	<script type="text/javascript" src="/js3/jquery.serialize-object.min.js">{{!-- --}}</script>
	<script type="text/javascript" src="/js3/lodash.min.js">{{!--                  --}}</script>
	<script type="text/javascript" src="/js3/handlebars.min.js">{{!--              --}}</script>
	<script type="text/javascript" src="/js3/knockout-latest.js">{{!--             --}}</script>
	<script type="text/javascript" src="/js3/knockout.mapping.min.js">{{!--        --}}</script>
	<script type="text/javascript" src="/js3/bootstrap.min.js">{{!--               --}}</script>
	<script type="text/javascript" src="/js3/datepicker.min.js">{{!--              --}}</script>
	<script type="text/javascript" src="/js3/datepicker.en.js">{{!--               --}}</script>

	<script type="text/javascript" src="/js/messages.min.js"></script>

	{{{block "scripts"}}}

</body>
</html>
