<section class="container dashboard">

	<h1>{{__ "Welcome"}}</h1>

	<div class="row">
		<article>
			<p>{{__ "Tenders statistics"}}</p>
			<p>undone</p>
		</article>

		<article>
			<p>{{__ "Builders statistics"}}</p>
			<p>undone</p>
		</article>

		<article>
			<p>{{__ "Users statistics"}}</p>
			<p>undone</p>
		</article>
	</div>
</section>
