<section class="container dashboard">

	<h1>Welcome</h1>

	<div class="row">
		<article>
			<p>Tenders statistics</p>
			<p>undone</p>
		</article>

		<article>
			<p>Builders statistics</p>
			<p>undone</p>
		</article>

		<article>
			<p>Users statistics</p>
			<p>undone</p>
		</article>
	</div>
</section>
