@import (once, reference) "../bootstrap-fm/bootstrap-fm.less";
@import (once, reference) "font-awesome.less";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


@color-primary : @brand-primary;

@button-border :  1px;

// Builder category colors:

@bcat1 : #00B0F0;
@bcat2 : #92D050;
@bcat3 : #FFFF00;
@bcat4 : #FFC000;
@bcat5 : #C00000;

.fa.fa-overlay
{
	font-size: 70%;
	height: 70%;
	margin: 15% -25% -15% 25%;
	text-shadow: -0.3em 0 0.3em white;
}



/*
=====================================================================
                COMMON STUFF
=====================================================================
*/
.tndr-phone
{
	a&
	{
		&:before
		{
			.fa-icon();

			margin-right: 0.25em;
			content: @fa-var-phone-square;
		}
	}
}

// Loader for buttons (and for other stuff)
.tndr-load:after
{
	.fa-spin;
	.fa-icon();

	margin-left: 0.25em;
	content: @fa-var-spinner;
}

.tndr-load-block
{
	position:relative;

	&:before
	{
		/*
		.center-block();

		//.fa-spin;
		.fa-icon();
		content: @fa-var-spinner;
		*/
		.opacity(0.85);

		display:table-cell;
		position: absolute;
		text-align: center;
		vertical-align: middle;
		z-index:1000;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color: Gray;
	}
}


.tndr-bookmark
{
	&:before
	{
		.fa-icon();
		content: @fa-var-link;
	}
}

// buttons
.btn-create
{
	&:extend(.btn-success);
}

.btn-delete
{
	&:extend(.btn-danger);
}

.btn-edit,
.btn-save
{
	&:extend(.btn-primary);
}

.btn-cancel
{
	&:extend(.btn-default);
}

/*
=====================================================================
                COMMON INPUT FORM
=====================================================================
*/

.tndr-form
{
	.buttons-block
	{
		.form-group;
	}

	label
	{
		//.form-group;
		input
		{
			.form-control;
		}

		.input-lg
		{
			.input-lg;
		}
	}
}

/*
=====================================================================
                DASHBOARD
=====================================================================
*/

	.dashboard
	{
		article
		{
			.panel;
			.make-md-column(6);
			.border-radius(@border-radius-base);
		}
	}

/*
=====================================================================
                USERS SECTION
=====================================================================
*/


/*
=====================================================================
                BUILDERS
=====================================================================
*/
	.-builder-category()
	{
		.priority
		{
			background-color: @bcat1;
		}
		.decent
		{
			background-color: @bcat2;
		}
		.considerable
		{
			background-color: @bcat3;
		}
		.tentative
		{
			background-color: @bcat4;
		}
		.unfavourable
		{
			background-color: @bcat5;
		}
	}

	.builder
	{
		&.list
		{
			article
			{
				&:extend(.panel);
				.panel;
				.panel-default;
				.make-xs-column(12);
				.make-md-column(4);
				.make-lg-column(12/5);

				.-builder-category();

				padding : 0; // fix gaps on both sides of article

				&>header
				{
					&:extend(.panel-heading);
					.panel-heading;

					h1,h2,h3,h4,h5,h6
					{
						&:extend(.panel-title);
						.panel-title;
					}
				}

				&>section
				{
					&:extend(.panel-body);
					.panel-body;
				}

				&>ul
				{
					&:extend(.list-group);
					.list-group;

					&>li
					{
						&:extend(.list-group-item);
						.list-group-item;
					}
				}
			}
		}

		.employee-list
		{
			article
			{
				&:extend(.panel);
				.panel;
				.panel-default;
				.make-xs-column(12);
				.make-lg-column(12/2);

				padding : 0; // fix gaps on both sides of article

				&>header
				{
					&:extend(.panel-heading);
					.panel-heading;

					h1,h2,h3,h4,h5,h6
					{
						&:extend(.panel-title);
						.panel-title;
					}
				}

				&>section
				{
					&:extend(.panel-body);
					.panel-body;
				}

				&>footer
				{
					&:extend(.panel-footer);
					.panel-footer;
				}
			}
		}
	}
