@import (once, reference) "../bootstrap-fm/bootstrap-fm.less";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


@color-primary : @brand-primary;

@button-border :  1px;

.tndr
{

/*
=====================================================================
                COMMON STUFF
=====================================================================
*/

	.btn-common
	{
		.btn;
		.btn-sm;
		background-color:transparent;
		border-color: @color-primary;
		border-width: @button-border;
		border-style: solid;
		color:@color-primary;
		border-radius: @border-radius-large;
	}

/*
=====================================================================
                DASHBOARD
=====================================================================
*/

	.dashboard
	{
		article
		{
			.make-md-column(4);
			.border-radius(@border-radius-base);
			.panel;
		}
	}

/*
=====================================================================
                USERS SECTION
=====================================================================
*/

}