<h1>Known users</h1>

<table class="tablesorter">
	<thead><tr>
		<th>#</th>
		<th>Username</th>
		<th>Enabled</th>
	</th></thead>
	<tbody>
		{{#each users}}
			<tr>
				<td>{{user}}</td>
				<td>{{username}}</td>
				<td>
					{{#if is_root}}
						<input type="checkbox" disabled="disabled" readonly="readonly" checked="checked" value="1" />
					{{else}}
						<input type="checkbox" class="tndr-user-enabled" value="1" />
					{{/if}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
