<h1>My profile</h1>


{{#each messages }}
	<div class="panel default">
		{{this}}
	</div>
{{/each}}

<h2>Common info</h2>

<form>
<p>
	<span>Login: </span><strong>{{user.username}}</strong>
</p>

</form>

<hr/>

<h2>Change password</h2>
<form class="form-horizontal" method="POST" action="/users/change_password">

	<div class="form-group">
		<label for="passwordold" class="col-sm-2 control-label">Old password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="passwordold" name="passwordold" />
		</div>
	</div>

	<div class="form-group">
		<label for="passwordnew1" class="col-sm-2 control-label">New password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="passwordnew1" name="passwordnew1" />
		</div>
	</div>

	<div class="form-group">
		<label for="passwordnew2" class="col-sm-2 control-label">Confirm new password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="passwordnew2" name="passwordnew2" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>